.ct-card-container {
  max-width: 746px;
  width: 100%;
  margin: 0 auto;
}

.ct-card {
  border: 1px solid var(--bg-border-blue);
  border-radius: 10px;
  padding: 10px;
}

.ct-card-description {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-primary-section);
}